{% extends 'base.html' %}
{% load static get_item %}

{% block content %}
    <div class="row">
        <section class="gradient-custom">
            <div class="container-fluid py-md-5 h-100" style="padding-right:0; padding-left:0;">
                <div class="components__container col-12">
                    <div class="card bg-light text-black p-2 p-md-4 mb-4">
                        <form class="mb-3" action="{% url 'components_search_results' %}" method="get">
                            <h1 class="display-1 mb-4">Components</h1>
                            <p class="mb-4">Find components and add them to you personal inventory.
                            </p>
                            <label for="search-bom" class="module-list__search-label form-label h4">Keyword:</label>
                            <input id="search-bom" class="form-control" name="q" type="text" placeholder="Search...">
                        </form>
                    </div>
                    <div>
                        {% if not user.is_authenticated %}
                            <div class="alert alert-warning" role="alert">
                                <a href={% url 'login' %}>
                                    <b>Login</b>
                                </a>
                                to add components to your personal user inventory or shopping list.
                            </div>
                        {% endif %}
                        {% if components %}
                            {% regroup components by type as types_list %}
                            {% for type in types_list %}
                                <div class="d-flex flex-row h-100 w-100"
                                     style="border: 4px solid #ebeced; border-radius: 0.25rem; margin-bottom: 24px">
                                    <div style="background-color: #ebeced; width: 100px;">
                                        <div class="h-100 w-100 d-flex flex-column justify-content-center">
                                            <div style="display: inline-block; writing-mode: vertical-rl;text-orientation: mixed; transform: rotate(180deg)">
                                                <h2 class="py-3"
                                                    style="display:inline-block; white-space: nowrap; text-align: center; color: #7a7a7a">{{ type.grouper }}s</h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w-100 table-responsive p-4">
                                        <table class="table">
                                            <thead style="font-weight: bold; font-size: 14px; background-color: white; color: #538b69; white-space: nowrap;">
                                            <tr>
                                                {% if columns|get_item:type.grouper %}
                                                    {% with heading_list=columns|get_item:type.grouper %}
                                                        {% for heading in heading_list %}
                                                            {% if heading == "Add to queue" %}
                                                                {% if user.is_authenticated %}
                                                                    <th scope="col">{{ heading }}</th>
                                                                {% endif %}
                                                            {% elif heading == "# in Inv." %}
                                                                {% if user.is_authenticated %}
                                                                    <th scope="col">{{ heading }}</th>
                                                                {% endif %}
                                                            {% else %}
                                                                <th scope="col">{{ heading }}</th>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endwith %}
                                                {% endif %}
                                            </tr>
                                            </thead>
                                            <tbody class="border-0" style="font-size: 11px">
                                            {% for item in type.list %}
                                                <tr id="component_row_{{ item.id }}">
                                                    {% with heading_list=columns|get_item:type.grouper %}
                                                        <th id="description_{{ item.id }}"
                                                            class="component_cell_description">
                                                            {% if item.description %}
                                                                {{ item.description }}
                                                            {% endif %}
                                                        </th>
                                                        {% if "Manufacturer" in heading_list %}
                                                            <th class="component_cell_manufacturer">{{ item.manufacturer.name }}</th>
                                                        {% endif %}
                                                        {% if "Voltage Rating" in heading_list %}
                                                            <th class="component_cell_voltage_rating">{{ item.voltage_rating }}</th>
                                                        {% endif %}
                                                        {% if "Tolerance" in heading_list %}
                                                            <th class="component_cell_tolerance">{{ item.tolerance }}</th>
                                                        {% endif %}
                                                        {% if "Suppliers" in heading_list %}
                                                            <th id="supplier_{{ item.id }}"
                                                                class="component_cell_supplier"
                                                                data-supplier-short-name="{{ item.supplier.short_name }}">{{ item.supplier.name }}</th>
                                                        {% endif %}
                                                        {% if "Supplier Item #" in heading_list %}
                                                            <th id="item_no_{{ item.id }}"
                                                                class="component_cell_supplier_item_no">
                                                                <a id="item_url_{{ item.id }}"
                                                                   href="{{ item.link }}">{{ item.supplier_item_no }}</a>
                                                            </th>
                                                        {% endif %}
                                                        <th id="price_{{ item.id }}" class="component_cell_price">
                                                            {% if item.price %}
                                                                {{ item.price }}
                                                            {% endif %}
                                                        </th>
                                                        {% if user.is_authenticated %}
                                                            <th></th>
                                                        {% endif %}
                                                    {% endwith %}
                                                    {% if user.is_authenticated %}
                                                        <th id="row_{{ item.id }}">
                                                            <label for="quantity_{{ item.id }}">Quantity:</label><br>
                                                            <input id="quantity_{{ item.id }}" class="me-2"
                                                                   type="number" name="quantity" min="0"
                                                                   style="max-width: 50px;"
                                                                   data-id="{{ item.id }}"
                                                                   oninput="updateComponentQuantity(event)"><br>
                                                        </th>
                                                    {% endif %}
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    </div>

    {% if user.is_authenticated %}
        <div id="_react_components"></div>
    {% endif %}

{% endblock %}

{% block scripts %}
<script>
    function updateNumberInTab() {
      var tabNumber = document.getElementById("components-quantity-tab-number");
      window["localforage_store"].getItem("components").then(function(value) {
        let sum = 0;
        for (const key of Object.keys(value)) {
          sum += value[key]["quantity"];
        }
        tabNumber.innerText = sum;
      });
    }

    window.onload = function() {
      window.username = "{{ request.user.username }}";
      window["localforage_store"] = localforage.createInstance({
          name: window.username
      });
      const elements = document.querySelectorAll('[id^="quantity_"]');
      window["localforage_store"].getItem("components").then(function(local_storage) {
        for (const item of Object.keys(local_storage)) {
            const input = document.getElementById(`quantity_${item}`);
            input.value = local_storage[item]["quantity"];
        }
      });
      updateNumberInTab();
    };

    const tooltipTriggerList = [].slice.call(
      document.querySelectorAll('[data-bs-toggle="tooltip"]')
    );
    const tooltipList = tooltipTriggerList.map(function(tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl);
    });
    const DEBUG = true;

    function updateComponentQuantity(e) {
      const componentIDNumber = e.target.id.split("_")[1];
      const userEnteredQuantity = parseInt(
        document.getElementById(e.target.id).value
      );
      window["localforage_store"].getItem("components")
        .then(function(value) {
          window["localforage_store"].setItem("components", {
              ...value,
              [componentIDNumber]: {
                "quantity": userEnteredQuantity
              }
            })
            .then(function() {
              updateNumberInTab();
            })
            .then(function() {
              if (DEBUG) {
                window["localforage_store"].iterate(function(value, key) {
                  console.log([key, value]);
                });
              }
            });
        })
        .catch(function(err) {
          window["localforage_store"].setItem("components", {
            [componentIDNumber]: {
              "quantity": userEnteredQuantity
            }
          });
        });
    }
</script>
<script type="text/javascript" src="{% static "bundles/components_bundle.js" %}"></script>

{% endblock %}
