{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <section class="gradient-custom">
            <div class="container-fluid py-md-5 h-100" style="padding-right:0; padding-left:0;">
                <div class="module__container col-12">
                    {% comment %}
                    <div class="module-list__subtitle-container d-none d-md-block w-100">
                        <b>
                            <i>
                                <p class="module-list__subtitle">
                                    An inventory and search tool for DIY Eurorack synthesizer modules and components.
                                </p>
                            </i>
                        </b>
                    </div>
                    {% endcomment %}
                    <div class="module-list__search-box card bg-light text-black p-2 p-md-4 mb-4">
                        <form class="mb-3" action="{% url 'search_results' %}" method="get">
                            <h1 class="display-1 mb-4">Modules</h1>
                            <p class="mb-4">Find modules and add them to either your "Built" or "Want to Build" lists.</p>
                            <label for="search-bom" class="module-list__search-label form-label h4">Keyword:</label>
                            <input id="search-bom" class="form-control" name="q" type="text" placeholder="Search...">
                        </form>
                    </div>
                    <div>
                        <ul class="p-0">
                            {% if module_list %}
                                {% for module in module_list %}
                                    <li class="module-list__module-card">
                                        <div class="card w-100 mb-3">
                                            <div class="row g-0 d-flex justify-content-between">
                                                <div class="module-list__img-container col-md-3 p-4 d-flex flex-fill justify-content-center">
                                                    {% if module.image %}
                                                        <img class="module-list__img img-fluid border-0" src="{{ module.image }}" alt="{{ module.name }} panel" />
                                                    {% endif %}
                                                </div>
                                                <div class="col-md-9">
                                                    <div class="card-body">
                                                        <div class="d-flex justify-content-between w-100">
                                                            <div>
                                                                <h2 class="card-title">
                                                                    <a class="module-list__card-title-link" href="{% url 'modules:ModuleDetail' module.slug %}">
                                                                        {{ module.name }} {% if module.version and module.version != '0' and module.version != '1' %}(v{{ module.version }}) {% endif %}
                                                                    </a>
                                                                </h2>
                                                            </div>
                                                            <div class="text-nowrap d-flex justify-content-between" style="width: 100px;">
                                                                {% if built and module in built %}
                                                                    {% include "home/buttons/built_svg_button.html" with add=False module_id=module.id request_path=request.path  %}
                                                                {% else %}
                                                                    {% include "home/buttons/built_svg_button.html" with add=True module_id=module.id request_path=request.path  %}
                                                                {% endif %}
                                                                {% if to_build and module in to_build %}
                                                                    {% include "home/buttons/to_build_svg_button.html" with add=False module_id=module.id request_path=request.path  %}
                                                                {% else %}
                                                                    {% include "home/buttons/to_build_svg_button.html" with add=True module_id=module.id request_path=request.path  %}
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                        <p class="card-title mb-3">
                                                            <b>
                                                                <a class="module-detail__manufacturer-link">{{ module.manufacturer }}</a>
                                                            </b>
                                                        </p>
                                                        <div class="description-wrapped">
                                                            <p>{{ module.description }}</p>
                                                        </div>
                                                        {% comment %}
                                                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                                        {% endcomment %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                {% empty %}
                                    <li>No modules found.</li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                        {% if module_list.has_other_pages %}
                            <nav class="w-100 mb-4 p-0" role="navigation" aria-label="Pagination Navigation">
                                <ul class="pagination d-flex flex-wrap w-100 m-0">
                                    {% if module_list.has_previous %}
                                        <li class="p-1 p-md-2"><a href="?page={{ module_list.previous_page_number }}"
                                                                  style="font-size: 14px" aria-label="Go to previous page.">&lt;</a>
                                        </li>
                                    {% else %}
                                        <li class="disabled p-1 p-md-2"><span style="font-size: 14px">&lt;</span></li>
                                    {% endif %}
                                    {% for i in module_list.paginator.page_range %}
                                        {% if module_list.number == i %}
                                            <li class="active p-1 p-md-2"><span style="font-size: 14px">{{ i }} <span class="visually-hidden">(current)</span></span></li>
                                        {% else %}
                                            <li class="p-1 p-md-2"><a href="?page={{ i }}" style="font-size: 14px"
                                                                      aria-label="Go to page {{ i }}">{{ i }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if module_list.has_next %}
                                        <li class="p-1 p-md-2"><a href="?page={{ module_list.next_page_number }}"
                                                                  style="font-size: 14px" aria-label="Go to next page.">&gt;</a>
                                        </li>
                                    {% else %}
                                        <li class="disabled p-1 p-md-2"><span style="font-size: 14px">&gt;</span></li>
                                    {% endif %}
                                </ul>
                            </nav>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}