{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="vh-100 gradient-custom">
        <div class="container-fluid h-100">
            <div class="col-12">
                <div class="row d-flex justify-content-center align-items-center h-100"></div>
                    <div class="card bg-light text-black p-2 p-md-4 mb-4">
                        <form class="mb-3" action="{% url 'search_results' %}" method="get">
                            <label for="search-bom" class="form-label h4">Search for a BOM:</label>
                            <input id="search-bom" class="form-control" name="q" type="text" placeholder="Search...">
                        </form>

                    </div>
                    <div>
                        <ul class="p-0">
                            {% if module_list %}
                                {% for module in module_list %}
                                    <li style="list-style-type: none;">
                                        <div class="card w-100 mb-3">
                                            <div class="row g-0" style="height:250px">
                                                <div class="col-md-3 p-4 d-flex justify-content-around" style="height: 250px">
                                                    {% if module.image %}
                                                        <img class="img-fluid img-thumbnail border-0" src="{{ module.image }}" style="height: 100%" alt="{{ module.name }} panel" />
                                                    {% endif %}
                                                </div>
                                                <div class="col-md-9">
                                                    <div class="card-body">
                                                        <div class="d-flex justify-content-between w-100">
                                                            <div>
                                                                <h2 class="card-title"><a class="home-card-link" href="{% url 'modules:ModuleDetail' module.slug %}">{{ module.name }}</a></h2>
                                                            </div>
                                                            <div class="text-nowrap d-flex justify-content-between" style="width: 100px;">
                                                                {% if built and module in built %}
                                                                    <div class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" data-bs-placement="top" title="Remove from my built list">
                                                                        <a href="{% url 'RemoveFromBuilt' module.id  %}">
                                                                            <button type="button" class="btn btn-outline-secondary m-1 m-md-0 align-right d-flex justify-content-center p-0" style="background-color: hotpink; width: 46px; height: 38px;">
                                                                                <div class="d-flex flex-column justify-content-center h-100">
                                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-x" viewBox="0 0 16 16">
                                                                                      <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                                                                    </svg>
                                                                                </div>
                                                                            </button>
                                                                        </a>
                                                                    </div>
                                                                {% else %}
                                                                    <div class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" data-bs-placement="top" title="Add to my built list">
                                                                        <a href="{% url 'AddToBuilt' module.id  %}">
                                                                            <button type="button" class="btn btn-outline-secondary m-1 m-md-0 align-right d-flex justify-content-center p-0" style="width: 46px; height: 38px;">
                                                                                <div class="d-flex flex-column justify-content-center h-100">
                                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                                                                      <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                                                                    </svg>
                                                                                </div>
                                                                            </button>
                                                                        </a>
                                                                    </div>
                                                                {% endif %}
                                                                    <div class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" data-bs-placement="top" title="Add to my want-to-build list.">
                                                                        <button type="button" class="btn btn-outline-secondary m-1 m-md-0 align-right d-flex justify-content-center p-0" style="width: 46px; height: 38px;">
                                                                            <div class="d-flex flex-column justify-content-center h-100">
                                                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-wrench" viewBox="0 0 16 16">
                                                                                  <path d="M.102 2.223A3.004 3.004 0 0 0 3.78 5.897l6.341 6.252A3.003 3.003 0 0 0 13 16a3 3 0 1 0-.851-5.878L5.897 3.781A3.004 3.004 0 0 0 2.223.1l2.141 2.142L4 4l-1.757.364L.102 2.223zm13.37 9.019.528.026.287.445.445.287.026.529L15 13l-.242.471-.026.529-.445.287-.287.445-.529.026L13 15l-.471-.242-.529-.026-.287-.445-.445-.287-.026-.529L11 13l.242-.471.026-.529.445-.287.287-.445.529-.026L13 11l.471.242z"/>
                                                                                </svg>
                                                                            </div>
                                                                        </button>
                                                                    </div>
                                                            </div>
                                                        </div>
                                                        <p class="card-title mb-3"><b><a class="home-card-link">{{ module.manufacturer }}</a></b></p>
                                                        <div class="description-wrapped">
                                                            <p>{{ module.description }}</p>
                                                        </div>
                                                        {% comment %}
                                                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                                        {% endcomment %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                        {% if module_list.has_other_pages %}
                            <nav class="w-100 mb-4 p-0" role="navigation" aria-label="Pagination Navigation">
                                <ul class="pagination d-flex flex-wrap w-100 m-0">
                                    {% if module_list.has_previous %}
                                        <li class="p-1 p-md-2"><a href="?page={{ module_list.previous_page_number }}"
                                                                  style="font-size: 14px" aria-label="Go to previous page.">&lt;</a>
                                        </li>
                                    {% else %}
                                        <li class="disabled p-1 p-md-2"><span style="font-size: 14px">&lt;</span></li>
                                    {% endif %}
                                    {% for i in module_list.paginator.page_range %}
                                        {% if module_list.number == i %}
                                            <li class="active p-1 p-md-2"><span style="font-size: 14px">{{ i }} <span class="visually-hidden">(current)</span></span></li>
                                        {% else %}
                                            <li class="p-1 p-md-2"><a href="?page={{ i }}" style="font-size: 14px"
                                                                      aria-label="Go to page {{ i }}">{{ i }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if module_list.has_next %}
                                        <li class="p-1 p-md-2"><a href="?page={{ module_list.next_page_number }}"
                                                                  style="font-size: 14px" aria-label="Go to next page.">&gt;</a>
                                        </li>
                                    {% else %}
                                        <li class="disabled p-1 p-md-2"><span style="font-size: 14px">&gt;</span></li>
                                    {% endif %}
                                </ul>
                            </nav>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}