{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <section class="gradient-custom">
            <div class="container px-0 py-5 h-100">
                <div class="row d-flex justify-content-center h-100">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                        <div class="card bg-light text-black" style="border-radius: 1rem;">
                            <div class="card-body p-xs-0 p-md-5 text-center">

                                <div class="mb-md-5 mt-md-4 pb-5">

                                    <div class="alert alert-warning border-3" role="alert"><strong>You are logged out</strong></div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}