/* CSS Grid used to format page footer */
.footer__grid {
    display: grid;
    grid-template-columns: 50% 50% auto;
    grid-template-rows: auto auto;
    gap: 15px 15px;
    grid-template-areas: "footer__left footer__right" "footer__bottom footer__bottom";
}

.footer__left {
    grid-area: footer__left;
}

.footer__right {
    grid-area: footer__right;
}

.footer__bottom {
    grid-area: footer__bottom;
}