#bootstrap-overrides .components__offcanvas-button {
  background-color: #528c69;
  position: fixed;
  font-weight: bold;
  bottom: 0;
  right: 2vw;
  height: 50px;
  border: 0;
  border-radius: 20px 20px 0 0;
  transition: all .35s ease;
}

#bootstrap-overrides .components__offcanvas-button--lifted {
  bottom: 25vh !important;
  background-color: #f8f9fa;
  color: #505050;
}

#bootstrap-overrides .components__offcanvas-container {
  background-color: #528c69;
  height: 25vh;
  box-sizing: content-box;
  transition: all .35s ease;
}

#bootstrap-overrides .components__offcanvas-container--lifted {
  background-color: #f8f9fa;

}

#bootstrap-overrides .components__offcanvas-arrow {
  transition: all .35s ease;
}

#bootstrap-overrides .components__offcanvas-arrow--flipped {
  transform: rotate(-180deg) !important;
}