a.user-profile__card-title-link,
a.user-profile__manufacturer-link {
    color: #505050;
    text-decoration: none;
}

a.user-profile__card-title-link:hover,
a.user-profile__manufacturer-link:hover {
    color: #505050;
    text-decoration: underline;
}