#bootstrap-overrides p,
#bootstrap-overrides label,
#bootstrap-overrides h1,
#bootstrap-overrides h2,
#bootstrap-overrides h3,
#bootstrap-overrides h4,
#bootstrap-overrides h5,
#bootstrap-overrides h6 {
  color: #505050;
  text-decoration: none;
}

:root #bootstrap-overrides  {
  --bs-blue: #03178C;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #F2CB07;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #0088B3;
  --bs-secondary: #6c757d;
  --bs-success: #50AFCC;
  --bs-info: #FFED00;
  --bs-warning: #FF0049;
  --bs-danger: #FF0049;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

#bootstrap-overrides .logo {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-size: 34px;
  color: #FFED00;
}

#bootstrap-overrides .nav-login-logout {
  font-family: var(--bs-font-sans-serif);
  font-size: 14px;
  color: white;
  margin-right: 1vw;
  border: 1px solid white;
}

#bootstrap-overrides .home-card-link {
  color: #505050;
  text-decoration: none;
}

#bootstrap-overrides .footer-link {
  color: silver;
  text-decoration: none;
}

#bootstrap-overrides .description-wrapped > p {
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

#bootstrap-overrides .user-page-nav > div > button.active {
  border-top: unset;
  border-left: unset;
  border-right: unset;
  border-bottom: 5px solid #50AFCC;
  border-radius: unset;
  color: #50AFCC;
}

#bootstrap-overrides .user-page-nav > div > button:hover {
  border-top: unset;
  border-left: unset;
  border-right: unset;
  border-bottom: 5px solid #50AFCC;
  border-radius: unset;
  color: #50AFCC;
}

#bootstrap-overrides .user-page-nav > div > button {
  color: #495057;
  border: unset;
}

/*#logo {*/
/*   width:300px;!*give it a fixed size*!*/
/*   margin:0 auto;*/
/*   !* animation magic *!*/
/*   -webkit-transition: all 1s ease-in-out;*/
/*   -moz-transition: all 1s ease-in-out ;*/
/*   -ms-transition: all 1s ease-in-out ;*/
/*   -o-transition: all 1s ease-in-out ;*/
/*   transition: all 1s ease-in-out ;*/
/*}*/

.logo-img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 275px;
    height:auto;
    opacity: 1;
    transition: 1.5s cubic-bezier(0.25, 1, 0.5, 1);
}
.logo-img-head {
    position: fixed;
    top: calc(50% - 60px);
    left: calc(50% + 6px);
    transform: translate(-50%, -50%);
    width: 230px;
    height:auto;
    opacity: 0;
    transition: 1.5s cubic-bezier(0.25, 1, 0.5, 1);
}

.logo-img-small {
    top: 55px;
    left: 55px;
    width: 100px;
    opacity: 0;
    transition: 1.5s cubic-bezier(0.25, 1, 0.5, 1);
}
.logo-img-small-head {
    top: 35px;
    left: 55px;
    width: 80px;
    opacity: 1;
    transition: 1.5s cubic-bezier(0.25, 1, 0.5, 1);
}

#bootstrap-overrides header {
   width: 100%;
   z-index: 9999;
}

#bootstrap-overrides .shrink {
   width:100px;/*change the size here*/
}

.move-up {
   transform: translateY(-60vh);
   transition: 3s cubic-bezier(0.25, 1, 0.5, 1);
}

.move-all-the-way-up {
   transform: translateY(calc(-200vh + 70px));
   transition: 1.5s cubic-bezier(0.25, 1, 0.5, 1);
}

.move-down {
   transform: translateY(50vh);
   transition: 2s cubic-bezier(0.25, 1, 0.5, 1);
}

#scroll-up-cover-1 {
    background-color: #232323;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 100vh;
    z-index: -9999;
    /*clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);*/
    /*-webkit-clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);*/
}

#scroll-up-cover-2 {
    background-color: #538b69;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    right: 100vw;
    z-index: -9999;
    /*clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);*/
    /*-webkit-clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);*/
}

#bootstrap-overrides .subtitle {
    bottom: 21vh;
    height: 40px;
    position: fixed;
    width: 300vw;
    left: -100vw;
    font-size: 30px;
    text-align: center;
    color: white;
}

.scrolldown {
      bottom: 90px;
      height: 40px;
      position: fixed;
      width: 300vw;
      left: -100vw;
      font-size: 40px;
      text-align: center;
}
.downarrows {
      bottom: 50px;
      position: fixed;
      left: 50vw;
      width: 70px;
      margin-left: -35px;
      height: 26px;
}
.downarrows > * {
      width: 70px;
      position: absolute;
}