{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <h1 class="mb-5 h4" style="margin-top: 5vh">{{ user.first_name }} {{ user.last_name }}</h1>
        <nav class="user-page-nav">
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                        type="button" role="tab" aria-controls="nav-home" aria-selected="true">Built
                </button>
                <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                        type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Want to Build
                </button>
                <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact"
                        type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Components Inventory
                </button>
                <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact"
                        type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Shopping List
                </button>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class="container py-5 px-0">
                    <div class="row w-100">
                        {% for module in user.built_modules.all %}
                            <div class="card col-xs-12 col-sm-12 col-md-4 col-lg-3  py-4 m-2 d-flex justify-content-around" style="min-width: 270px; max-height: 548px">
                                {% if module.image %}
                                    <img src="{% url 'home' %}{{ MEDIA_URL }}{{ module.image }}" style="height: 200px; width: 100%; object-fit: contain" alt="{{ module.name }} panel" />
                                {% endif %}
                                <div class="d-flex flex-column justify-content-around">
                                    <div class="card-body py-4 px-0" style="height: 261px">
                                        <div class="d-flex justify-content-between w-100">
                                            <div>
                                                <h2 class="card-title h4"><a class="home-card-link" href="{% url 'modules:ModuleDetail' module.slug %}">{{ module.name }}</a></h2>
                                            </div>
                                        </div>
                                        <p class="card-title mb-3"><b><a class="home-card-link">{{ module.manufacturer }}</a></b></p>
                                        <div class="description-wrapped">
                                            <p>{{ module.description }}</p>
                                        </div>
                                    </div>
                                    <div class="text-nowrap d-flex justify-content-between" style="width: 100px;">
                                        {% if built and module in built %}
                                            {% include "home/buttons/built_svg_button.html" with add=False module_id=module.id request_path=request.path %}
                                        {% else %}
                                            {% include "home/buttons/built_svg_button.html" with add=True module_id=module.id request_path=request.path %}
                                        {% endif %}
                                        {% if to_build and module in to_build %}
                                            {% include "home/buttons/to_build_svg_button.html" with add=False module_id=module.id request_path=request.path %}
                                        {% else %}
                                            {% include "home/buttons/to_build_svg_button.html" with add=True module_id=module.id request_path=request.path %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div class="container py-5 px-0">
                    <div class="row w-100">
                        {% for module in user.want_to_build_modules.all %}
                            <div class="card col-xs-12 col-sm-12 col-md-4 col-lg-3  py-4 m-2 d-flex justify-content-around" style="min-width: 270px; max-height: 548px">
                                {% if module.image %}
                                    <img src="{% url 'home' %}{{ MEDIA_URL }}{{ module.image }}" style="height: 200px; width: 100%; object-fit: contain" alt="{{ module.name }} panel" />
                                {% endif %}
                                <div class="d-flex flex-column justify-content-around">
                                    <div class="card-body py-4 px-0" style="height: 261px">
                                        <div class="d-flex justify-content-between w-100">
                                            <div>
                                                <h2 class="card-title h4"><a class="home-card-link" href="{% url 'modules:ModuleDetail' module.slug %}">{{ module.name }}</a></h2>
                                            </div>
                                        </div>
                                        <p class="card-title mb-3"><b><a class="home-card-link">{{ module.manufacturer }}</a></b></p>
                                        <div class="description-wrapped">
                                            <p>{{ module.description }}</p>
                                        </div>
                                    </div>
                                    <div class="text-nowrap d-flex justify-content-between" style="width: 100px;">
                                        {% if built and module in built %}
                                            {% include "home/buttons/built_svg_button.html" with add=False module_id=module.id request_path=request.path %}
                                        {% else %}
                                            {% include "home/buttons/built_svg_button.html" with add=True module_id=module.id request_path=request.path %}
                                        {% endif %}
                                        {% if to_build and module in to_build %}
                                            {% include "home/buttons/to_build_svg_button.html" with add=False module_id=module.id request_path=request.path %}
                                        {% else %}
                                            {% include "home/buttons/to_build_svg_button.html" with add=True module_id=module.id request_path=request.path %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
        </div>
    </div>
{% endblock %}