.module-list__search-box {

}

.module-list__module-card {
  list-style-type: none;
}

.module-list__img {
  max-height: 100%
}

.module-list__img-container {
  height: 250px;
  width: auto !important;
}