{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        {% comment %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        {% endcomment %}

        <link href="{% static 'bootstrap-5.0.2-dist/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Roboto&display=swap" rel="stylesheet">
{#        <link rel="preconnect" href="https://fonts.googleapis.com">#}
{#        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>#}
{#        <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">#}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Roboto:wght@500&display=swap" rel="stylesheet">

        <link href="{% static 'index.css' %}" rel="stylesheet" type="text/css">

        <title>Bom-Squad</title>
        <script src='{% static 'bootstrap-5.0.2-dist/js/bootstrap.bundle.js' %}'></script>
        <script src='https://www.google.com/recaptcha/api.js'></script>
        <script src="https://cdn.jsdelivr.net/npm/lax.js" ></script>
        <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/2.3.1/list.min.js"></script>
    </head>
    <body id="bootstrap-overrides" class="main-grid">

        {% include 'header.html' %}

        <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel" style="background-color: #212529; height: 100vh;">

            <div class="offcanvas-body">
                <div class="d-flex flex-row justify-content-between align-items-center full-screen-menu-container">
                    <div class="full-screen-menu-left"></div>
                    <ul class="full-screen-menu-right">
                        <li class="text-end menu-text"><a href="/about/">about</a></li>
                        <li class="text-end menu-text"><a href="/">modules</a></li>
                        <li class="text-end menu-text"><a href="/components/">components</a></li>
                        <li class="text-end menu-text"><a href="/components/">inventory</a></li>
                        <li class="text-end menu-text"><a href="/components/">account</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <main id="main-content-area" class="main-content container main-area">
            {% block content %}{% endblock content %}
        </main>

        {% include 'footer.html' %}

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

        <script>
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
              return new bootstrap.Tooltip(tooltipTriggerEl)
            })
        </script>

        {% block scripts %}{% endblock %}

        <script>
            window.onload = function () {
                var offcanvasTop = document.getElementById('offcanvasTop');
                var logoImg = document.getElementById('logo-img-head-static');
                var headLogo = document.getElementById('head-logo');

                offcanvasTop.addEventListener('hide.bs.offcanvas', function () {
                    headLogo.classList.remove("hide-logo-img");
                    logoImg.classList.remove("hide-logo-img");
                });
                offcanvasTop.addEventListener('show.bs.offcanvas', function () {
                    headLogo.classList.add("hide-logo-img");
                    logoImg.classList.add("hide-logo-img");
                });

                // Thanks to StackOverflow user Phil Ricketts https://stackoverflow.com/a/8028584
                // for this getScrollPercent function.
                function getScrollPercent() {
                    var h = document.documentElement,
                        b = document.body,
                        st = 'scrollTop',
                        sh = 'scrollHeight';
                    return (h[st]||b[st]) / ((h[sh]||b[sh]) - h.clientHeight) * 100;
                }

                window.addEventListener("scroll", function(e){
                    if (getScrollPercent() > 60) {
                        headLogo.classList.add("head-logo-shown");
                        logoImg.classList.add("logo-img-hidden")
                    } else {
                        headLogo.classList.remove("head-logo-shown");
                        logoImg.classList.remove("logo-img-hidden")
                    }
                });


                lax.init();

                // Add a driver that we use to control our animations
                lax.addDriver('scrollY', function () {
                  return window.scrollY
                });

                lax.addElements('.logo-img-head-static', {
                  scrollY: {
                    scale: [[0, 'screenHeight/3'], [1, 0.6], {easing: 'easeInOutQuint', inertia: 10}]
                  }
                });
                lax.addElements('.head-logo', {
                  scrollY: {
                    scale: [[0, 'screenHeight/3'], [1, 0.6], {easing: 'easeInOutQuint', inertia: 10}]
                  }
                });


                lax.addElements('#main-nav', {
                  scrollY: {
                    height: [[0, 'screenHeight/3'], [90, 70], {cssUnit: "px", easing: 'easeInOutQuint', inertia: 10}]
                  }
                })
            }
        </script>

    </body>
</html>