{% load static %}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@800&display=swap" rel="stylesheet">
    <link href="{% static 'index.css' %}" rel="stylesheet" type="text/css">

    <title>Bom-Squad</title>
</head>
<body id="bootstrap-overrides">

<nav class="navbar navbar-dark sticky-top" style="background-color: #1E1E1D">
    <div class="container-fluid">
        <a class="navbar-brand logo" href="{% url 'home' %}">BOM SQUAD</a>
        <div>
            {% if user.is_authenticated %}
            <a href="{% url 'login' %}"><button class="btn btn-outline-light" type="button">account</button></a>
            <a href="{% url 'logout' %}"><button class="btn btn-outline-light" type="button">logout</button></a>
            {% else %}
            <a href="{% url 'login' %}"><button class="btn btn-outline-light" type="button">login</button></a>
            {% endif %}
        </div>
    </div>
</nav>

<br/>
<div class="container">
<div class="row">
    <div class="col">
      {% block content %}{% endblock content %}
    </div>
</div>
<div style="background-color: #f8f9fa; width: 100vw">
    <footer class="container py-4">
        <p class="my-1">
            <a class="footer-link" href="/about/">About</a>
        </p>

        <p class="my-1">
            <a class="footer-link" rel="noopener" href="mailto:danielmiller.js@gmail.com?subject=Bom+Squad">Contact</a>
        </p>

        <p class="my-1">
            <a class="footer-link" href="/privacy/">Privacy Policy</a>
        </p>

        <div class="py-2">
            <p class="my-1">
                <a class="footer-link" target="_blank" href="https://www.itsnicethat.com/news/resources-supporting-black-lives-matter-movement-creative-industry-010620">Black lives matter.</a>
            </p>
        </div>

    </footer>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>
</body>
</html>