<footer class="py-5 footer-area" style="width: 100vw; background-color: #f8f9fa;">
    <div class="footer__grid container px-5">
        <div class="footer__left">
            <div>
                <h5>About</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">FAQ</a></li>
                    <li><a class="text-muted" href="#">Terms of Service</a></li>
                    <li><a class="text-muted" href="#">Privacy Policy</a></li>
                </ul>
            </div>
            <div>
                <h5>Support</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Donate</a></li>
                    <li><a class="text-muted" href="#">Contribute to the project on GitHub</a></li>
                </ul>
            </div>
        </div>
        <div class="footer__right">
            <div>
                <h5>Account</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Login</a></li>
                </ul>
            </div>
            <div>
                <h5 class="visually-hidden-focusable">Contact</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted mt-4" href="mailto:info@bom-squad.com">Contact</a></li>
                </ul>
            </div>
        </div>
        <div class="footer__bottom">
            <div>
                <a class="text-muted" target="_blank"
                   href="https://www.itsnicethat.com/news/resources-supporting-black-lives-matter-movement-creative-industry-010620">Black
                    lives matter.</a>
            </div>
        </div>
    </div>
</footer>