<div class="offcanvas offcanvas-top fullscreen-menu__container" tabindex="-1" id="fullscreen-menu__container"
     aria-labelledby="fullscreen-menu__container-label">
    <button id="fullscreen-menu__close-btn" type="button" class="fullscreen-menu__close-btn btn-close btn-close-white text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>

    <div class="offcanvas-body fullscreen-menu__body">
        <div class="d-flex flex-row justify-content-between align-items-center fullscreen-menu__body-inner-flex">
            <div class="fullscreen-menu__left"></div>
            <ul class="fullscreen-menu__right">
                <li class="fullscreen-menu__item text-end menu-text"><a href="/about/">about</a></li>
                <li id="fullscreen-menu__item--outline" class="fullscreen-menu__item text-end menu-text"><a href="/">modules</a></li>
                <li class="fullscreen-menu__item text-end menu-text"><a href="/components/">components</a></li>
                <li class="fullscreen-menu__item text-end menu-text"><a href="/components/">inventory</a></li>
                <li  id="fullscreen-menu__item--highlight" class="fullscreen-menu__item text-end menu-text"><a href="/components/">account</a></li>
            </ul>
        </div>
    </div>
</div>