<div class="offcanvas offcanvas-top fullscreen-menu__container" tabindex="-1" id="fullscreen-menu__container"
     aria-labelledby="fullscreen-menu__container-label">
    <button id="fullscreen-menu__close-btn"
            type="button"
            class="fullscreen-menu__close-btn text-reset"
            data-bs-dismiss="offcanvas"
            aria-label="Close">
    </button>

    <div class="offcanvas-body fullscreen-menu__body">
        <div class="m-0 mt-md-5 h-100 d-flex flex-row flex-row-reverse justify-content-center justify-content-md-start fullscreen-menu__body-inner-flex">
            <ul class="h-100 m-0 px-0 py-5 py-md-0 fullscreen-menu__right d-flex flex-column justify-content-around justify-content-md-start">
                <li class="text-center text-md-end fullscreen-menu__item text-end menu-text"><a href="/about/">about</a></li>
                <li id="fullscreen-menu__item--outline" class="text-center text-md-end fullscreen-menu__item text-end menu-text"><a href="/">modules</a></li>
                <li class="text-center text-md-end fullscreen-menu__item text-end menu-text"><a href="/components/">components</a></li>
                <li class="text-center text-md-end fullscreen-menu__item text-end menu-text"><a href="/components/">inventory</a></li>
                <li  id="fullscreen-menu__item--highlight" class="text-center text-md-end fullscreen-menu__item text-end menu-text"><a href="/components/">account</a></li>
            </ul>
        </div>
    </div>
</div>