{% load static %}

<header class="main-header">
    <div class="row" style="left: 0">
        <nav id="main-nav" class="navbar navbar-expand-lg navbar-dark sticky-top nav-style">
            <a href="{% url 'home' %}">
                <img id="logo-img-head-static" class="logo-img-head-static" src="{% static '/bom_squad/logo.png' %}"
                     alt="Bom Squad logo">
            </a>
            <a href="{% url 'home' %}">
                <img id="head-logo" style="z-index: 9999" class="head-logo" src="{% static '/bom_squad/head_logo.png' %}"
                     alt="Bom Squad logo">
            </a>
{#            <a href="{% url 'home' %}">#}
{#                <img id="logo-text" src="{% static '/bom_squad/logo_text2.png' %}" alt="">#}
{#            </a>#}
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li id="menu-dropdown-arrow" class="nav-item">
                        <button class="btn btn-outline-secondary" type="button" data-bs-toggle="offcanvas"
                                data-bs-target="#offcanvasTop" aria-controls="offcanvasTop">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-caret-down-fill"
                                 viewBox="0 0 16 16">
                                <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                            </svg>
                        </button>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a href="{% url 'user_page' request.user.username %}">
                                <button class="btn btn-outline-secondary" type="button">account</button>
                            </a>
                        </li>
                        <li class="nav-item" style="margin-left: 10px">
                            <a href="{% url 'logout' %}">
                                <button class="btn btn-outline-secondary" type="button">logout</button>
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{% url 'register' %}">
                                <button class="btn btn-outline-secondary" type="button">register</button>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'login' %}" style="margin-left: 10px">
                                <button class="btn btn-outline-secondary" type="button">login</button>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
</header>