<div class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" data-bs-placement="top"
     title="Remove from my built list">
    {% if add %}
        <a href="{% url 'AddToBuilt' module_id %}?next={{ request_path }}">
            <button type="button" class="btn btn-outline-secondary m-1 m-md-0 align-right d-flex justify-content-center p-0"
                    style="width: 46px; height: 38px;">
                <div class="d-flex flex-column justify-content-center h-100">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x"
                         viewBox="0 0 16 16">
                        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                    </svg>
                </div>
            </button>
        </a>
    {% else %}
        <a href="{% url 'RemoveFromBuilt' module_id %}?next={{ request_path }}">
            <button type="button" class="btn btn-outline-secondary m-1 m-md-0 align-right d-flex justify-content-center p-0"
                    style="background-color: #548b6a; width: 46px; height: 38px;">
                <div class="d-flex flex-column justify-content-center h-100">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-x"
                         viewBox="0 0 16 16">
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </div>
            </button>
        </a>
    {% endif %}
</div>