{% extends 'base.html' %}
{% load gravatar zip_lists custom_tags static %}

{% block content %}
    <div class="row" style="margin-top: 5vh;">
        <div class="container mb-5">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-lg-3 col-xl-2 avatar text-center">
                    {% gravatar user_email 150 %}
                </div>
                <div class="col-xs-12 col-sm-8 col-lg-9 col-xl-10 d-flex justify-content-center justify-content-sm-start">
                    <div class="mb-md-5 mb-xs-3 ">
                        <h1 class="h2" style="margin-top: 5vh">{{ username }}</h1>
                        {% if not gravatar_exists %}
                            <small>Avatar image from <a href="https://en.gravatar.com/">Gravatar</a>.</small>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <nav class="user-page-nav">
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="built-modules-tab" data-bs-toggle="tab"
                        data-bs-target="#built-modules"
                        type="button" role="tab" aria-controls="built-modules" aria-selected="true">Built
                </button>
                <button class="nav-link" id="want-to-build-tab" data-bs-toggle="tab" data-bs-target="#want-to-build"
                        type="button" role="tab" aria-controls="want-to-build" aria-selected="false">Want to Build
                </button>
                <button class="nav-link" id="inventory-tab" data-bs-toggle="tab" data-bs-target="#inventory"
                        type="button" role="tab" aria-controls="inventory" aria-selected="false">Components Inventory
                </button>
                <button class="nav-link" id="shopping-list-tab" data-bs-toggle="tab" data-bs-target="#shopping-list"
                        type="button" role="tab" aria-controls="shopping-list" aria-selected="false">Shopping List
                </button>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="built-modules" role="tabpanel"
                 aria-labelledby="built-modules-tab">
                <div class="container py-5 px-0">
                    {% if current_user.built_modules.all %}
                        {% include "users/profile_tabs/built-modules.html" %}
                    {% else %}
                        <div class="alert alert-warning" role="alert">There are no modules in your Built Modules list.
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="tab-pane fade" id="want-to-build" role="tabpanel" aria-labelledby="want-to-build-tab">
                <div class="container py-5 px-0">
                    {% if current_user.want_to_build_modules.all %}
                        <div class="row w-100">
                            {% for module in current_user.want_to_build_modules.all %}
                                {% include "users/profile_tabs/want-to-build.html" %}
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="alert alert-warning" role="alert">There are no modules in your Want to Build list.
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="tab-pane fade" id="inventory" role="tabpanel" aria-labelledby="inventory-tab">

                <div class="container py-5 px-0 d-flex flex-column">

                    {% if zipped_data %}
                        <div class="d-flex justify-content-between  mb-5">
                            <h2 class="display-4">Components Inventory</h2>
                            <span class="align-self-center"><a href="{% url 'export_inventory_data_csv' %}"
                                                               class="btn btn-primary text-white float-end">Download CSV</a></span>
                        </div>
                        <div id="_react_components_inventory"></div>
                    {% else %}
                        <div class="alert alert-warning" role="alert">
                            Go to the <a href="{% url 'components' %}">Components page</a> to add components to your
                            personal inventory.
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="tab-pane fade" id="shopping-list" role="tabpanel" aria-labelledby="shopping-list-tab">
                <div class="container-fluid" style="width: 100%; overflow:scroll; overflow-x: auto;">
                    {% include "users/profile_tabs/shopping-list.html" %}
                </div>
                <div class="container py-5 px-0">
                    <div class="alert alert-warning" role="alert">
                        To add components to your shopping list, add modules to your Want to Build list.
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {% comment %}
    <script>
		document.querySelector("#download-csv-btn").addEventListener("click", function () {
			var link = document.createElement("a");
			link.href = "{% url 'export_inventory_data_csv' %}";
			link.download = "inventory_data.csv";
			link.target = "_blank";
			link.click();
			console.log("CSV download started");
		});

		function updateInventory(itemId, newValue, field) {
			const data = {id: itemId, value: newValue, field: field};
			fetch("{% url 'update_inventory' %}", {
				method: "PUT",
				headers: {
					"Content-Type": "application/json",
					"X-CSRFToken": document.getElementById("csrftoken").value
				},
				body: JSON.stringify(data),
			})
				.then((response) => response.json())
				.then((data) => {
					console.log("Success:", data);
					// Get the input element
					const input = document.querySelector(`input[data-id="${id}"]`);
					// Get the parent td element
					const td = input.parentElement;
					// Set the innerHTML of the td to the new value
					td.innerHTML = value;
				})
				.catch((error) => {
					console.error("Error:", error);
				});
		}

		function editQuantity(element) {
			var itemId = element.getAttribute("data-id");
			var currentValue = element.innerHTML;
			element.innerHTML = "<input type='number' value=" + currentValue + " onblur='saveQuantity(" + itemId + ", this)'>";
		}

		function editLocation(element) {
			var itemId = element.getAttribute("data-id");
			var currentValue = element.innerHTML;
			element.innerHTML = "<input type='text' value='" + currentValue + "' onblur='saveLocation(" + itemId + ", this)'>";
		}

		function saveQuantity(itemId, element) {
			var newValue = element.value;
			updateInventory(itemId, newValue, 'quantity');
			element.parentElement.innerHTML = newValue;
		}

		function saveLocation(itemId, element) {
			var newValue = element.value;
			updateInventory(itemId, newValue, 'location');
			element.parentElement.innerHTML = newValue;
		}

		function toggleColumn(checkbox, columnIndex) {
            var table = document.getElementById('inventory-table-body')
            var header = table.getElementsByTagName("thead")[0];
            var rows = table.getElementsByTagName("tr");
            var headerRows = header.getElementsByTagName("tr");

            for (var i = 0; i < rows.length; i++) {
                var cells = rows[i].getElementsByTagName("td");
                var headerCells = headerRows[i].getElementsByTagName("th");
                cells[columnIndex].style.display = checkbox.checked ? "table-cell" : "none";
                headerCells[columnIndex].style.display = checkbox.checked ? "table-cell" : "none";
            }
        }
    </script>
    {% endcomment %}
    <script type="text/javascript" src="{% static 'bundles/inventory_bundle.js' %}"></script>
{% endblock %}