{% extends 'base.html' %}
{% load gravatar %}
{% load custom_tags %}

{% block content %}
    <div class="row" style="margin-top: 5vh;">
        <div class="container mb-5">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-lg-3 col-xl-2 avatar text-center">
                    {% gravatar user_email 150 %}
                </div>
                <div class="col-xs-12 col-sm-8 col-lg-9 col-xl-10 d-flex justify-content-center justify-content-sm-start">
                    <div class="mb-md-5 mb-xs-3 ">
                        <h1 class="h2" style="margin-top: 5vh">{{ username }}</h1>
                        {% if not gravatar_exists %}
                            <small>Avatar image from <a href="https://en.gravatar.com/">Gravatar</a>.</small>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <nav class="user-page-nav">
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="built-modules-tab" data-bs-toggle="tab" data-bs-target="#built-modules"
                        type="button" role="tab" aria-controls="built-modules" aria-selected="true">Built
                </button>
                <button class="nav-link" id="want-to-build-tab" data-bs-toggle="tab" data-bs-target="#want-to-build"
                        type="button" role="tab" aria-controls="want-to-build" aria-selected="false">Want to Build
                </button>
                <button class="nav-link" id="inventory-tab" data-bs-toggle="tab" data-bs-target="#inventory"
                        type="button" role="tab" aria-controls="inventory" aria-selected="false">Components Inventory
                </button>
                <button class="nav-link" id="shopping-list-tab" data-bs-toggle="tab" data-bs-target="#shopping-list"
                        type="button" role="tab" aria-controls="shopping-list" aria-selected="false">Shopping List
                </button>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="built-modules" role="tabpanel" aria-labelledby="built-modules-tab">
                <div class="container py-5 px-0">
                    {% if current_user.built_modules.all %}
                        {% include "users/profile_tabs/built-modules.html" %}
                    {% else %}
                        <div class="alert alert-warning" role="alert">There are no modules in your Built Modules list.</div>
                    {% endif %}
                </div>
            </div>
            <div class="tab-pane fade" id="want-to-build" role="tabpanel" aria-labelledby="want-to-build-tab">
                <div class="container py-5 px-0">
                    {% if current_user.want_to_build_modules.all %}
                        <div class="row w-100">
                            {% for module in current_user.want_to_build_modules.all %}
                                {% include "users/profile_tabs/want-to-build.html" %}
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="alert alert-warning" role="alert">There are no modules in your Want to Build list.</div>
                    {% endif %}
                </div>
            </div>
            <div class="tab-pane fade" id="inventory" role="tabpanel" aria-labelledby="inventory-tab">
                <div class="container py-5 px-0">
                    <div class="alert alert-warning" role="alert">
                        Go to the <a href="{% url 'components' %}">Components page</a> to add components to your personal inventory.
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="shopping-list" role="tabpanel" aria-labelledby="shopping-list-tab">
                <div class="container-fluid" style="width: 100%; overflow:scroll; overflow-x: auto;">
                    {% include "users/profile_tabs/shopping-list.html" %}
                </div>
                <div class="container py-5 px-0">
                    <div class="alert alert-warning" role="alert">
                        To add components to your shopping list, add modules to your Want to Build list.
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}